<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To-Do lists</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/master.css">
  </head>
  <body>
    <div class="container">

      <div class="row">
        <div class="col-md-6 offset-md-3 jumbotron">
          <div class="text-center">
            <h1>{% block header %}{% endblock %}</h1>
            <form method="post"action="{% block form_action %}{% endblock %}">
              {{form.text}}
              {% csrf_token %}
              {% if form.errors %}
                <div class="form-group has-error">
                  <span class="help-block">{{form.text.errors}}</span>
                </div>
              {% endif %}
            </form>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="mx-auto">
          {% block table %}{% endblock %}
        </div>
      </div>

    </div>
    <script src="/static/jquery-3.4.1.js"></script>
    <script src="/static/tests/tests.js"></script>
    <script>
      console.log('init')
      $(document).ready(function (){
        window.Superlists.initialize();
      });
    </script>
  </body>
</html>
