{% extends 'lists/base.html' %}

{% block header %}To-Do items{% endblock %}
{% block form_action %}/lists/{{list_id}}/{% endblock %}
{% block table %}
  <table id="id_list_table" class="table">
    <tbody>
      <thead>
        <tr>
          <th>ID</th>
          <th>To-Do item</th>
        </tr>
      </thead>
      {% for item in list.item_set.all %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{item.text}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
