{% extends 'lists/base.html' %}

{% block header %}My Lists{% endblock %}

{% block list_form %}{% endblock %}

{% block extra_content %}
  <h2 id='id_list_owner'>{{owner.email}}`s lists</h2>
  <ul>
    {% for list in owner.list_set.all %}
      <li><a href="{{list.get_absolute_url}}">{{list.name}}</a></li>
    {% endfor %}
  </ul>
  <h3>Shared with you:</h3>
  <ul>
    {% for list in owner.shared_lists.all %}
      <li><a href="{% url 'list_view' list_id=list.id %}">{{list}}</a>, owner: {{list.owner}}</li>
    {% endfor %}
  </ul>
{% endblock %}
